// Block user
//
// Markup: ../kss_styleguide/markup/components.block-user.html
//
// Styleguide Components.BlockUser


.c-block-user {
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid #F5F5F5;
  padding: 0 10px;
  background: $white;
  font-size: rem(16px);
  cursor: pointer;
}

.c-block-user__data {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  list-style: none;
  color: $gray-30;
  font-size: em(12px);

  @include mq(min-w, 400px) { font-size: em(14px); }
}

.c-block-user__data li {
  display: inline-block;
  margin-left: 11px;
}

.c-block-user__data .message-count { color: $fb-warning; }

.c-block-user__data .online { color: $fb-success; }

.c-block-user__image img { border-radius: 50%; }

.c-block-user__content {
  font-size: em(14px);

  @include mq(min-w, 400px) { font-size: em(16px); }
}

.c-block-user__title { font-weight: 500; }

.c-block-user__text { font-weight: 300; }
