// Main navigation
//
// Markup: ../kss_styleguide/markup/components.nav-main.html
//
// Styleguide Components.NavMain


.c-nav-main {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  font-size: rem(16px);
}

.c-nav-main--chat {
  z-index: 20;
  margin-right: 0;
  font-size: rem(18px);

  &.state-enter { opacity: 0; }

  &.state-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 0.3s;
  }

  &.state-leave { opacity: 1; }

  &.state-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
}

.c-nav-main ul {
  padding-left: 0;
  list-style: none;
}

.c-nav-main ul li { display: inline-block; }

.c-nav-main__button {
  display: block;
  padding: 5px;
  color: $white;

  @include mq(min-w, 400px) {
    padding: 5px 10px;
    font-size: em(20px);
  }

  &:focus,
  &:hover { color: $white; }

  &.state-active { color: var(--brand-color-3); }

  .c-nav-main--chat & {
    padding: 26px 15px 22px;

    @include mq(min-w, 400px) { padding: 28px 20px 20px; }
  }

  [class^="icon"] { position: relative; }
}

.c-nav-main__button--chat {
  [class^="icon"] { top: 4px; }

  &.state-bounce { animation: bounce 2.5s infinite; }
}

@keyframes bounce {
  from, 20%, 50%, 80%, to { transform: translate3d(0, 0, 0); }

  40% { transform: translate3d(0, -6px, 0); }

  70% { transform: translate3d(0, -6px, 0); }

  90% { transform: translate3d(0, -2px, 0); }
}

.c-nav-main__button--profile {
  font-size: em(22px);

  @include mq(min-w, 400px) { font-size: em(24px); }

  [class^="icon"] { top: 4px; }
}
