// Banner
//
// Markup: ../kss_styleguide/markup/components.banner.html
//
// Styleguide Components.Banner

.c-banner {
  position: relative;
  display: block;
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $gray-30;
  background-image: url('http://placehold.it/500x200');
  font-size: rem(16px);

  @include mq(min-w, 400px) { height: 180px; }
}

.c-banner__title {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  color: $white;
  font-size: em(16px);
  text-shadow: 1px 1px 5px rgba($black-100, 0.4);

  @include mq(min-w, 400px) { font-size: em(18px); }
}
