// Message
//
// Markup: ../kss_styleguide/markup/components.message.html
//
// Styleguide Components.Message


.c-message {
  position: relative;
  box-shadow: 0px 1px 1px 0px rgba($black-100, 0.20);
  display: inline-block;
  max-width: 85%;
  margin: 10px 0;
  padding: 5px 10px;
  background: lighten($brand-color-3, 20%);
  font-size: rem(14px);

  @include mq(min-w, 400px) { font-size: rem(16px); }

  &:before {
    position: absolute;
    left: -4px;
    top: -3px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 3px solid $brand-color-3;
    border-left: 4px solid transparent;
  }

  &:after {
    position: absolute;
    left: -4px;
    top: 0;
    content: '';
    height: 100%;
    width: 5px;
    background: lighten($brand-color-3, 20%);
  }
}

.c-message.c-message--user {
  margin-left: auto;
  background: var(--brand-color-1);
  text-align: right;

  &:before {
    left: auto;
    right: -4px;
    border-bottom: 3px solid var(--brand-color-1);
    border-right: 4px solid transparent;
    border-left: 0;
  }

  &:after {
    left: auto;
    right: -4px;
    background: var(--brand-color-1);
  }
}

.c-message__contact-name {
  font-size: em(14px, 14px);

  @include mq(min-w, 400px) { font-size: em(16px, 16px); }
}

.c-message__data {
  padding: 0;
  color: rgba($black-100, 0.50);
  list-style: none;
  font-size: em(12px);
}
