// Block user
//
// Markup: ../kss_styleguide/markup/components.block-user.html
//
// Styleguide Components.BlockUser


.c-block-user {
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid rgba($black-100, 0.05);
  padding: 0 10px;
  background: $white;
  font-size: rem(16px);
  cursor: pointer;

  &.state-active {
    background: var(--brand-color-1);
  }

  &.state-animated .circle {
    transform: scale(10);
    transition-delay: 0s;

    @include mq(min-w, 400px) { transform: scale(15); }
  }
}

.c-block-user__data {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  list-style: none;
  color: rgba($black-100, 0.30);
  font-size: em(12px);

  @include mq(min-w, 400px) { font-size: em(14px); }
}

.c-block-user__data li {
  display: inline-block;
  margin-left: 11px;
}

.c-block-user__data .message-count { color: $fb-warning; }

.c-block-user__data .online { color: $fb-success; }

.c-block-user__image img { border-radius: 50%; }

.c-block-user__content {
  font-size: em(14px);

  @include mq(min-w, 400px) { font-size: em(16px); }
}

.c-block-user__title { font-weight: 500; }

.c-block-user__text { font-weight: 300; }

.c-block-user .circle {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  display: block;
  width: 90px;
  height: 100%;
  border-radius: 100%;
  background: $white;
  transition: transform 0.5s;
  transition-delay: 0.3s;
}
