// Table
//
// Mimics the table layout for more flexibility in responsive design.
//
// Markup: ../kss_styleguide/markup/objects.table.html
//
// Styleguide Objects.Table


.o-table {
  display: table;
  width: 100%;

  &__row {
    display: table-row;
    width: auto;
  }

  &__cell {
    display: table-cell;
    padding: 10px;
  }
}
