// Colors
//
// Weight: 1
//
// Styleguide Settings.Colors


// Brand Colors
//
// $brand-color-1 -  #88CEE8, Viking
// $brand-color-2 -  #4BAFD9, Shakespeare
// $brand-color-3 -  #D0E37F, Manz
//
// Weight: 1
//
// Styleguide Settings.Colors.BrandColors

$brand-color-1: #88CEE8;
$brand-color-2: #4BAFD9;
$brand-color-3: #D0E37F;


// Primary Colors
//
// $black   -  #333333, Mine Shaft
// $white   -  #FFFFFF, White
// $gray-30 -  #CECECE, Wild Sand
// $gray-70 -  #7A7A7A, Boulder
//
// Weight: 2
//
// Styleguide Settings.Colors.PrimaryColors

$black:   #333333;
$white:   #FFFFFF;
$gray-30: #CECECE;
$gray-70: #7A7A7A;


// Feedback Colors
//
// $fb-danger  -  #EB8585, Apricot
// $fb-success -  #69CA88, De York
// $fb-warning -  #F0CA85, Buff
// $fb-info    -  #5FA9CA, Danube
//
// Weight: 3
//
// Styleguide Settings.Colors.FeedbackColors

$fb-danger:   #EB8585;
$fb-success:  #69CA88;
$fb-warning:  #F0CA85;
$fb-info:     #5FA9CA;
