// Fonts
//
// Weight: 2
//
// Styleguide Settings.Fonts


// Default font
//
// $default-font-size     - 16px
// $default-line-height   - 1.5
//
// Weight: 1
//
// Styleguide Settings.Fonts.DefaultFont


$default-font-size: 16px;
$default-line-height: 1.5;


// Default heading font
//
// $default-heading-font-size     - 26px
// $default-heading-line-height   - 1.5
//
// Weight: 2
//
// Styleguide Settings.Fonts.DefaultHeadingFont


$default-heading-font-size: 26px;
$default-heading-line-height: 1.5;
