// Colors
//
// Weight: 1
//
// Styleguide Settings.Colors


// Primary Colors
//
// $black-100 -  #000000, Black
// $black     -  #333333, Mine Shaft
// $white     -  #FFFFFF, White
// $gray-30   -  #CECECE, Wild Sand
// $gray-70   -  #7A7A7A, Boulder
//
// Weight: 2
//
// Styleguide Settings.Colors.PrimaryColors

$black-100: #000000;
$black:     #333333;
$white:     #FFFFFF;
$gray-30:   #CECECE;
$gray-70:   #7A7A7A;
