// Colors
//
// Weight: 1
//
// Styleguide Settings.Colors


// Primary Colors
//
// The primary colors for branding.
//
// $leonardo      -  #2980b9, Leader blue
// $donatello     -  #8e44ad, Purple tech
// $raphael       -  #c0392b, Sai
// $michelangelo  -  #E87E04, Cowabunga
// $splinter      -  #FDE3A7,
//
// Weight: 1
//
// Styleguide Settings.Colors.PrimaryColors


$leonardo: #2980b9;
$donatello: #8e44ad;
$raphael: #c0392b;
$michelangelo: #E87E04;
$splinter: #FDE3A7;


// Secondary Colors
//
// $black       - #222222, Black
// $gray        - #CCCCCC, Gray
// $white       - #FFFFFF, White
// $red         - #c0392b, Red
// $green       - #86B155, Green
// $orange      - #FCB350, Orange
// $blue        - #3FA7D6, Blue
//
// Weight: 2
//
// Styleguide Settings.Colors.SecondaryColors


$black: #222222;
$gray: #CCCCCC;
$white: #FFFFFF;
$red: #c0392b;
$green: #86B155;
$orange: #FCB350;
$blue: #3FA7D6;
