// Chat list
//
// Styleguide Scopes.ChatList


.s-chat-list {
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.s-chat-list__inner {
  position: relative;

  &.state-empty {
    margin-top: 75px;
    background: $white;
  }
}

.s-chat-list__inner .s-block-actions { border: 0; }

.s-chat-list__inner .empty-message {
  width: 100%;
  padding: 40px 20px;

  @include mq(min-w, 400px) { padding: 60px 20px; }
}

.s-chat-list .s-block-actions__nav > ul {
  justify-content: flex-end;

  & > li:first-child { flex: 0; }
}
