// Chat
//
// Styleguide Scopes.Chat


.s-chat {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.s-chat__output {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  margin-bottom: 130px;
}

.s-chat__input {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 130px;
  width: 100%;
  padding: 10px;
}
