// User list
//
// Styleguide Scopes.UserList


.s-user-list {
  overflow: auto;
  position: relative;
  box-shadow: 5px 10px 100px 5px rgba($black-100, 0.25);
  width: 100vw;
  height: 100vh;
  margin: 0 10px;
}
