// Block chat
//
// Styleguide Scopes.BlockChat


.s-block-chat {
  box-shadow: 0px 0px 10px 2px rgba($black-100, 0.15);
  font-size: rem(16px);

  &.state-empty { margin-top: 10px; }

  &.state-empty .s-block-chat__header p { margin: 0 auto; }

  &.state-empty .s-block-chat__main .empty-message {
    width: 100%;
    padding: 40px 20px;
    text-align: center;

    @include mq(min-w, 400px) { padding: 60px 20px; }
  }
}

.s-block-chat__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: $white;
  background: var(--brand-color-2);
  font-size: em(12px);

  @include mq(min-w, 400px) {
    padding: 12px 10px;
    font-size: em(14px);
  }
}

.s-block-chat__data {
  padding-left: 0;
  list-style: none;
  font-weight: 300;
}

.s-block-chat__main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  background: $white;
}
