// Form
//
// Markup: ../kss_styleguide/markup/base.form.html
//
// Styleguide Base.Form


$placeholder-color: $gray-30;


fieldset {
  border: none;
  padding: 0;
}

label { cursor: pointer; }

button,
input,
optgroup,
select,
textarea {
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
}

textarea { resize: vertical; }

input,
textarea {
  border-radius: 0;
  line-height: inherit;
}

input:focus,
select:focus,
button:focus,
textarea:focus { outline: 0 none; }

::placeholder { color: $placeholder-color; }
